<!-- [ Boa ] start -->
<div class="col-md-6">
    <div class="card">
        <div class="card-header d-flex">
            <h3>Boa</h3>

            <% if(ipoDetailsQuery.isBeforeCutoffDate) {%>
            <label class="ml-auto" style="font-size: x-large; margin-top: 1.2%;">
              <i class="fa fa-sync" style="border: none; color: blue; cursor: pointer;"></i>
            </label>
            <%}%>
        </div>
        <div class="card-body table-border-style">
            <div class="table-responsive">
                <div class="card-body">
                    <!-- <img src="<%= boaImage %>"
                        style="width: 150px;" alt="Avatar" /> -->
                        <a href="<%= boaImage %>" target="_blank">
                            View Boa Image
                          </a>
                </div>
                <form id="imageUploadForm" action="/ipoDetail/uploadBoa"
                    method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="IpoId"value="<%= ipoDetailsQuery.IpoId %>">
                    <input type="hidden" name="IpoDetailId"value="<%= ipoDetailsQuery.IpoDetail?.IpoDetailId %>">
                    <input type="hidden" name="CompanyName"value="<%= comapnyName %>">
                    <input type="file" name="boa" />
                    <button type="submit">Upload Image</button>
                </form>
            </div>


        </div>
    </div>

</div>
<!-- [ Boa ] end -->