<div class="col-md-6">
    <div class="card">
      <div class="card-header d-flex">
        <h3>Company Address</h3>

        <% if(ipoDetailsQuery.isBeforeCutoffDate) {%>
        <label class="ml-auto" style="font-size: x-large; margin-top: 1.2%;" onclick="syncCompanyAddress()">
          <i class="fa fa-sync" style="border: none; color: blue; cursor: pointer;"></i>
        </label>
        <%}%>
      </div>
      <div class="card-body table-border-style">
        <div class="table-responsive">
          <%- ipoDetailsQuery.IpoDetail?.CompanyAddress ? ipoDetailsQuery.IpoDetail?.CompanyAddress : 'N/A' %>
        </div>
      </div>
    </div>
  </div>

  <!-- Loader -->
<%- include('../ui/loader.ejs') %>
<%- include('../ui/toaster.ejs') %>

<script>
async function syncCompanyAddress() {
  debugger
  
  const loader = document.getElementById('loader');
  loader.classList.remove('d-none');
  const ipoDetails = {
      IpoId: '<%= ipoDetailsQuery.IpoId %>',
      ChitorName: '<%= ipoDetailsQuery.ChitorName %>',
      ChitorId: '<%= ipoDetailsQuery.ChitorId %>',
  };
  try {
      const response = await fetch('/scraper/syncCompanyAddress', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify(ipoDetails),
      });

      const result = await response.json();      
      if (response.status === 200) {        
        renderToast('Sync successful', 'success');    
        reloadFun()
      } else {
        renderToast(result.error || 'Sync failed', 'error');
        console.log(`Sync failed: ${result.error || 'Unknown error'}`, 'error');
      }
  } catch (error) {
      renderToast('Sync failed', 'error');
  } finally {
      loader.classList.add('d-none');
  }
}

</script>