<%- include('../navbar/sidebar') %>

<body>
  <style>
    th,
    td {
      font-size: 16px;
    }
  </style>
  
  <!-- [ Main Content ] start -->
  <section class="pcoded-main-container">
    <div class="pcoded-wrapper">
      <div class="pcoded-content">
        <div class="pcoded-inner-content">
          <div class="main-body">
            <div class="page-wrapper">
              <!-- [ breadcrumb ] start -->
              <div class="page-header">
                <div class="page-block">
                  <div class="row align-items-center">
                    <div class="col-md-12">
                      <div class="page-header-title" , style="margin-left: 25%;">

                        <h1 class="m-b-10"><%= comapnyName %></h1>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <!-- [ breadcrumb ] end -->
              <!-- [ Main Content ] start -->
              <div class="col-xl-3 col-md-6">
                <div class="card prod-p-card">
                  <div class="card-body">
                    <!-- CompanyLogo -->
                    <img src="<%= imageUrl %>"  style="width: 150px;" alt="Avatar" />
                  </div>
                  <form id="imageUploadForm" action="/ipoDetail/uploadLogo" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="IpoId" value="<%= ipoDetailsQuery.IpoId %>">
                    <input type="hidden" name="IpoDetailId" value="<%= ipoDetailsQuery.IpoDetail?.IpoDetailId %>">
                    <input type="hidden" name="CompanyName" value="<%= comapnyName %>">              
                    <input type="file" name="logo" />
                    <button type="submit">Upload Image</button>
                  </form>
                </div>
              </div>

              <script>             
                function reload() {
                  window.location.reload();
                }
                             
              </script>
              <button type="button" onclick="reload()" class="btn btn-primary">refresh</button>
              <%- include('../forms/editIpo.ejs', { IpoData: ipoDetailsQuery }) %>
              <div class="row">

                <!-- [ Time Line ] start -->                
                <%- include('./ipoSubscription.ejs', { ipoDetailsQuery: ipoDetailsQuery }) %>
                <!-- [ TimeLine  ] end -->

                <!-- [ Time Line ] start -->                
                <%- include('./gmpInvestor.ejs', { ipoDetailsQuery: ipoDetailsQuery }) %>
                <!-- [ TimeLine  ] end -->

                <!-- [ Time Line ] start -->                
                <%- include('./timeLine.ejs', { ipoDetailsQuery: ipoDetailsQuery }) %>
                <!-- [ TimeLine  ] end -->

                <!-- [ Lot Size ] start -->                
                <%- include('./lotSize.ejs', { ipoDetailsQuery: ipoDetailsQuery }) %>
                <!-- [ Lot size ] end -->

                <!-- [ Details ] start -->

                <%- include('./details.ejs', { ipoDetailsQuery: ipoDetailsQuery }) %>

                <!-- [ Details ] end -->

                <!-- [ Reservation ] start -->
                <%- include('./reservation.ejs', { ipoDetailsQuery: ipoDetailsQuery }) %>
                <!-- [ Reservation ] end -->

                <!-- [ FinancialInformation ] start -->
                <%- include('./FinancialInformation.ejs', { ipoDetailsQuery: ipoDetailsQuery }) %>
                <!-- [ FinancialInformation ] end -->
                 
                <!-- [ About section ] start -->
                <%- include('./aboutSection.ejs') %>
                <!-- [ About section ] end -->

                <!-- [ Strength section ] start -->
                <%- include('./StrengthSection.ejs') %>
                <!-- [ Strength section ] end -->

                <!-- [ Risk section ] start -->
                <%- include('./RiskSection.ejs') %>
                <!-- [ Risk section ] end -->

                <!-- [ Valuation (KPI) ] start -->
                <%- include('./Valuation.ejs', { ipoDetailsQuery: ipoDetailsQuery }) %>
                <!-- [ Valuation (KPI) ] end -->

                <!-- [ No Reservetion ] start -->
                <%- include('./noReservetion.ejs', { ipoDetailsQuery: ipoDetailsQuery }) %>
                <!-- [ No Reservetion ] end -->

                <!-- [ Objectives ] start -->
                <%- include('./objectives.ejs', { ipoDetailsQuery: ipoDetailsQuery }) %>
                <!-- [ Objectives ] end -->
                 
                <!-- [ Company Address ] start -->
                <%- include('./companyAddress.ejs', { ipoDetailsQuery: ipoDetailsQuery }) %>
                <!-- [ Company Address ] end -->

                <!-- [ Prospectus ] start -->
                <%- include('./prospectus.ejs', { ipoDetailsQuery: ipoDetailsQuery }) %>
                <!-- [ Prospectus ] end -->

                <!-- [ Boa ] start -->
                <%- include('./boa.ejs', { ipoDetailsQuery: ipoDetailsQuery }) %>
                <!-- [ Boa ] end -->

                <!-- [ AnchorLink ] start -->
                <%- include('./AnchorLink.ejs', { ipoDetailsQuery: ipoDetailsQuery }) %>
                <!-- [ AnchorLink ] END -->

                <!-- [ PromoterHoldings ] start -->
                <%- include('./PromoterHoldings.ejs', { ipoDetailsQuery: ipoDetailsQuery }) %>
                <!-- [ PromoterHoldings ] END -->

                <!-- [ registrar ] start -->
                <%- include('./registrar.ejs', { ipoDetailsQuery: ipoDetailsQuery }) %>
                <!-- [ registrar ] END -->

                <!-- [ registrar ] start -->
                <%- include('./leadManager.ejs', { ipoDetailsQuery: ipoDetailsQuery }) %>
                <!-- [ registrar ] END -->

                <!-- [ registrar ] start -->
                <%- include('./marketMaker.ejs', { ipoDetailsQuery: ipoDetailsQuery }) %>
                <!-- [ registrar ] END -->

              <!-- [ Main Content ] end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- [ Main Content ] end -->

</body>