<!-- [ Prospectus ] start -->
<div class="col-md-6">
  <div class="card">
    <div class="card-header d-flex">
      <h3>Prospectus</h3>

      <% if (ipoDetailsQuery.isBeforeCutoffDate) { %>
      <label class="ml-auto" style="font-size: x-large; margin-top: 1.2%;">
        <i class="fa fa-sync" style="border: none; color: blue; cursor: pointer;"></i>
      </label>
      <% } %>
    </div>
    <div class="card-body table-border-style">
      <div class="table-responsive">
        <% if (typeof message !== 'undefined' && message) { %>
        <div class="alert alert-danger">not valid</div>
        <% } %>
        <form id="addProspectus" action="/ipoDetail/prospectus" method="post">
          <input type="hidden" name="IpoDetailId" value="<%= ipoDetailsQuery.IpoDetail?.IpoDetailId %>">
          <input type="hidden" name="IpoId" value="<%= ipoDetailsQuery.IpoId %>">
          
          <div class="d-flex">
            <label>DRHP</label>
            <% if (ipoDetailsQuery.IpoDetail?.DRHPLink) { %>
            <a href="<%= ipoDetailsQuery.IpoDetail.DRHPLink %>" target="_blank">
              <label class="flex-shrink-0" style="margin-left: 20px;">DRHP Link</label>
            </a>
            <% } else { %>
            <span class="flex-shrink-0" style="margin-left: 20px;">No Link</span>
            <% } %>
          </div>
          <div class="input-group mb-2">
            <input name="DRHP" type="text" class="form-control" value="<%= ipoDetailsQuery.IpoDetail?.DRHPLink || '' %>" placeholder="enter DRHP">
          </div>
          
          <div class="d-flex">
            <label>RHP</label>
            <% if (ipoDetailsQuery.IpoDetail?.RHPLink) { %>
            <a href="<%= ipoDetailsQuery.IpoDetail.RHPLink %>" target="_blank">
              <label class="flex-shrink-0" style="margin-left: 20px;">RHP Link</label>
            </a>
            <% } else { %>
            <span class="flex-shrink-0" style="margin-left: 20px;">No Link</span>
            <% } %>
          </div>
          <div class="input-group mb-3">
            <input name="RHP" type="text" class="form-control" value="<%= ipoDetailsQuery.IpoDetail?.RHPLink || '' %>" placeholder="enter RHP">
          </div>
          
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- [ Prospectus ] end -->
