<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IPO Details</title>
  <script src="https://cdn.tiny.cloud/1/dinc1pl0owb3yvnq21oswp38m0abhs8w6qa2yspat19ty4ya/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <link rel="stylesheet" href="/public/css/forms/forms.css" type="text/css">
</head>

<body>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header d-flex">
        <h3>Registar</h3>

        <% if(ipoDetailsQuery.isBeforeCutoffDate) {%>
          <%- include('../forms/editRegistar.ejs', { registar: registar }) %>
        <label class="ml-auto" style="font-size: x-large; margin-top: 1.2%;" onclick="syncCompanyAddress()">
          <i class="fa fa-sync" style="border: none; color: blue; cursor: pointer;"></i>
        </label>
        <%}%>

      </div>
      <div class="card-body table-border-style">
        <div class="table-responsive">
          <table class="table table-hover">
            <tbody>
              <h5 style="margin-bottom: 5%;"> <%= registar?.RegistrarId?.RegistrarName ? registar?.RegistrarId?.RegistrarName : 'N/A' %> </h5>
                <tr>
                  <th>Phone</th>
                  <td><%= registar?.RegistrarId?.RegistrarPhone ? registar?.RegistrarId?.RegistrarPhone :'N/A' %></td>
                </tr>

                <tr>
                  <th>Email</th>
                  <td><%= registar?.RegistrarEmail  ? registar?.RegistrarEmail :'N/A' %></td>
                </tr>

                <tr>
                  <th>Website</th>
                  <td><%= registar?.RegistrarId?.RegistrarWebsite ? registar?.RegistrarId?.RegistrarWebsite :'N/A' %></td>
                </tr>

            </tbody>
          </table>     
        </div>
      </div>
    </div>
  </div>

</body>

<!-- Loader -->
  <%- include('../ui/loader.ejs') %>
  <%- include('../ui/loader.ejs') %>


<script>
async function syncCompanyAddress() {
  const loader = document.getElementById('loader');
  loader.classList.remove('d-none');
  const ipoDetails = {
      IpoId: '<%= ipoDetailsQuery.IpoId %>',
      ChitorName: '<%= ipoDetailsQuery.ChitorName %>',
      ChitorId: '<%= ipoDetailsQuery.ChitorId %>',
  };

  try {
      const response = await fetch('/scraper/syncCompanyAddress', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify(ipoDetails),
      });

      const result = await response.json();
      if (response.status === 200) {        
        renderToast('Sync successful', 'success');    
        reloadFun()
      } else {
        renderToast(result.error || 'Sync failed', 'error');
        console.log(`Sync failed: ${result.error || 'Unknown error'}`, 'error');
      }
  } catch (error) {
      renderToast('Sync failed', 'error');
  } finally {
      loader.classList.add('d-none');
  }
}


</script>

<!--  -->
</style>
</html>
