<link rel="stylesheet" href="/public/css/forms/forms.css" type="text/css">
<button
  type="button"
  class="btn btn-primary btn-sm"
  data-toggle="modal"
  data-target="#ediLotSizeModal"
  style="height: 1%; margin-left: 2%;"
>
  edit
</button>

<div
  class="modal fade"
  id="ediLotSizeModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Edit</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <% if (ipoDetailsQuery.LotSizeId && ipoDetailsQuery.LotSizeId.length > 0) { %>
            <form id="addIpoForm" action="/ipoDetail/updateLotSize" method="post">
                <% ipoDetailsQuery.LotSizeId.forEach(function(lotSize) { %>                  
                          <input type="hidden" name="LotSizeId" value="<%- lotSize?.LotSizeId %>">
                          <input type="hidden" name="IpoId" value="<%- ipoDetailsQuery?.IpoId %>">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="companyName">Retail Min Lot </label>
                        <input
                          name="RetailMinLot"
                          type="number"
                          class="form-control"
                          value="<%- lotSize?.RetailMinLot %>"
                          placeholder="Enter Retail (Min) Lot"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="displayName">Retail Min Share </label>
                        <input
                          name="RetailMinShare"
                          type="number"
                          class="form-control"
                          placeholder="Enter Retail Min Share"
                          value="<%- lotSize?.RetailMinShare %>"
                        />
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="urlName">Retail Max Lot </label>
                        <input
                          name="RetailMaxLot"
                          type="number"
                          class="form-control"
                          placeholder="Enter Retail Max Lot"
                          value="<%- lotSize?.RetailMaxLot %>"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="symbols">Retail Max Share</label>
                        <input
                          name="RetailMaxShare"
                          type="number"
                          class="form-control"
                          placeholder="Enter Retail Max Share"
                          value="<%- lotSize?.RetailMaxShare %>"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="logo">Shni Min Lot</label>
                        <input
                          name="ShniMinLot"
                          type="number"
                          class="form-control"
                          placeholder="Enter Shni Min Lot"
                          value="<%- lotSize?.ShniMinLot %>"
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="type">Shni Min Share</label>
                        <input
                          name="ShniMinShare"
                          type="number"
                          class="form-control"
                          placeholder="Enter Shni Min Share"
                          value="<%- lotSize?.ShniMinShare %>"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exchanged">Shni Max Lot</label>
                        <input
                          name="ShniMaxLot"
                          type="number"
                          class="form-control"
                          placeholder="Enter Shni Max Lot"
                          value="<%- lotSize?.ShniMaxLot %>"
        
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="chittorName">Shni Max Share</label>
                        <input
                          name="ShniMaxShare"
                          type="number"
                          class="form-control"
                          id="chittorName"
                          placeholder="Enter Shni Max Share"
                          value="<%- lotSize?.ShniMaxShare %>"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="bseid">Bhni Min Lot </label>
                        <input
                          name="BhniMinLot"
                          type="number"
                          class="form-control"
                          placeholder="Enter Bhni Min Lot"
                          value="<%- lotSize?.BhniMinLot %>"
        
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="chittorId">Bhni Min Share</label>
                        <input
                          name="BhniMinShare"
                          type="number"
                          class="form-control"
                          placeholder="Enter Bhni Min Share"
                          value="<%- lotSize?.BhniMinShare %>"
                        />
                      </div>
                    </div>
                  </div>
                  <% }) %>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            <% } else { %>
            <tr>
              <td colspan="10">No Lot Sizes available</td>
            </tr>
            <% } %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>