<div 
    class="modal fade" 
    id="updateMasterRegistrar<%= registrar.RegistrarId %>" 
    tabindex="-1" 
    role="dialog" 
    aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editDetailModalLabel">Update Registrar</h5>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form action="/registar/update" method="POST">
          <input type="hidden" name="RegistrarId" value="<%= registrar.RegistrarId %>">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="RegistrarName">Registrar Name</label>
                <input name="RegistrarName" required value="<%= registrar.RegistrarName %>" type="text" class="form-control" placeholder="Enter Name" />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="RegistrarPhone">Registrar Phone</label>
                <input name="RegistrarPhone" value="<%= registrar.RegistrarPhone %>" type="text" class="form-control" placeholder="Enter Phone" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="RegistrarEmail">Email</label>
                <input name="RegistrarEmail" value="<%= registrar.RegistrarEmail %>" type="text" class="form-control" placeholder="Enter Email" />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="RegistrarIpoEmail">Ipo Email</label>
                <input name="RegistrarIpoEmail" value="<%= registrar.RegistrarIpoEmail %>" type="text" class="form-control" placeholder="Enter Ipo Email" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="RegistrarWebsite">Website</label>
                <input name="RegistrarWebsite" required value="<%= registrar.RegistrarWebsite %>" type="text" class="form-control" placeholder="Enter Website" />
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>