<div 
    class="modal fade" 
    id="updateMasterLeadManager<%= registrar.LeadManagerId %>" 
    tabindex="-1" 
    role="dialog" 
    aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editDetailModalLabel">Update Lead Manager</h5>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form action="/leadManager/update" method="POST">
          <input type="hidden" name="LeadManagerId" value="<%= registrar.LeadManagerId %>">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="ManagerName">Registrar Name</label>
                <input name="ManagerName" required value="<%= registrar.ManagerName %>" type="text" class="form-control" placeholder="Enter Name" />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Website</label>
                <input name="Website" required value="<%= registrar.Website %>" type="text" class="form-control" placeholder="Enter Website" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Email</label>
                <input name="Email" value="<%= registrar.Email %>" type="text" class="form-control" placeholder="Enter Email" />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Phone</label>
                <input name="Phone" value="<%= registrar.Phone %>" type="text" class="form-control" placeholder="Enter Phone" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Fax</label>
                <input name="Fax" value="<%= registrar.Fax %>" type="text" class="form-control" placeholder="Enter Fax" />
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>